<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>grass</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>grass</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>navy</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>navy</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>steel</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>steel</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>rouge</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>rouge</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>barbie</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>barbie</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>hermes</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>hermes</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist> 